﻿@using Cinema.Models.Tickets
@using Cinema.Utils
@using Type = Cinema.Models.Tickets.Type
@model int?
@{
    var moviesList = (Movie[])ViewData["MoviesList"];
}

<div class="form-group">
    <label>Movie</label>
    <select name="MovieId" id="MovieId" class="form-control">
        @if (moviesList != null)
        {
            foreach (var movie in moviesList)
            {
                <option value="@movie.Id" @(Model != null && movie.Id == Model ? "selected" : string.Empty)>@movie.Name</option>
            }
        }
    </select>
</div>
