﻿@using Cinema.Models.Tickets
@model Cinema.Models.Tickets.Tariff

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.Tariffs)
}

<h2>Edit Tariff</h2>

@using (Html.BeginForm("EditTariff", "TicketsAdmin"))
{
    @Html.HiddenFor(x => x.Id)
    <div  class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div  class="form-group">
        @Html.LabelFor(x => x.Cost)
        @Html.EditorFor(x => x.Cost, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <input type="submit" value="Save changes" class="btn btn-success">
}