﻿@using Cinema.Models.Tickets
@model Cinema.Models.Tickets.Movie[]

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.Movies)
}

<h2 class="admin-heading">Movies List</h2>
<div class="admin-add-btn">
    @Html.ActionLink("Add movie", "AddMovie", "TicketsAdmin", null, new { @class = "btn btn-success btn-block" })
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="col">Id</th>
            <th class="col">Poster</th>
            <th class="col">Name</th>
            <th class="col">Description</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td><img style="max-height: 100px" src="@movie.ImageUrl"></td>
                <td>@movie.Name</td>
                <td>@movie.Description</td>
                <td class="col-lg-2">
                    @Html.ActionLink("Edit", "EditMovie", "TicketsAdmin", new { movieId = movie.Id }, new { @class = "btn btn-primary btn-block" })
                    @Html.ActionLink("Timeslots", "GetMovieTimeslotsList", "TicketsAdmin", new { movieId = movie.Id }, new { @class = "btn btn-primary btn-block" })
                    @Html.ActionLink("Remove", "RemoveMovie", "TicketsAdmin", new { movieId = movie.Id }, new { @class = "btn btn-danger btn-block" })
                </td>
            </tr>
        }
    </tbody>
</table>
