﻿@using Cinema.Models.Tickets
@model Cinema.Models.Tickets.Tariff[]

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.Tariffs)
}

<h2 class="admin-heading">Tariffs List</h2>
<div class="admin-add-btn">
    @Html.ActionLink("Add tariff", "AddTariff", "TicketsAdmin", null, new { @class = "btn btn-success btn-block" })
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="col">Id</th>
            <th class="col">Name</th>
            <th class="col">Cost</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tariff in Model)
        {
            <tr>
                <td>@tariff.Id</td>
                <td>@tariff.Name</td>
                <td>@tariff.Cost</td>
                <td>
                    @Html.ActionLink("Edit", "EditTariff", "TicketsAdmin", new { tariffId = tariff.Id }, new { @class = "btn btn-primary btn-block" })
                    @Html.ActionLink("Remove", "RemoveTariff", "TicketsAdmin", new { tariffId = tariff.Id }, new { @class = "btn btn-danger btn-block" })
                </td>
            </tr>
        }
    </tbody>
</table>
