﻿@using Cinema.Models.Tickets
@model Cinema.Models.Tickets.Timeslot

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.Timeslots)
}

<h2>Edit Timeslot</h2>

@using (Html.BeginForm("EditTimeslot", "TicketsAdmin"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.StartTime)
        <div class='input-group date' id='@Html.IdFor(x=>x.StartTime)'>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type='text' name="@Html.NameFor(x=>x.StartTime)" class="form-control" value="@Model.StartTime" />
        </div>
    </div>

    @Html.Partial("~/Views/Editors/MoviesList.cshtml", Model.MovieId)
    @Html.Partial("~/Views/Editors/HallsList.cshtml", Model.HallId)
    @Html.Partial("~/Views/Editors/TariffsList.cshtml", Model.TariffId)

    <input type="submit" value="Save changes" class="btn btn-success">
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#@Html.IdFor(x => x.StartTime)').datetimepicker({ format:'MM/DD/YYYY hh:mm:ss' });
        });
    </script>
}