﻿@using Cinema.Models.Tickets
@model Cinema.Models.Tickets.Hall[]

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.Halls)
}

<h2 class="admin-heading">Halls List</h2>
<div class="admin-add-btn">
    @Html.ActionLink("Add hall", "AddHall", "TicketsAdmin", null, new { @class = "btn btn-success btn-block" })
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="col">Id</th>
            <th class="col">Name</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hall in Model)
        {
            <tr>
                <td>@hall.Id</td>
                <td>@hall.Name</td>
                <td>
                    @Html.ActionLink("Edit", "EditHall", "TicketsAdmin", new { hallId = hall.Id }, new { @class = "btn btn-primary btn-block" })
                    @Html.ActionLink("Remove", "RemoveHall", "TicketsAdmin", new { hallId = hall.Id }, new { @class = "btn btn-danger btn-block" })
                </td>
            </tr>
        }
    </tbody>
</table>
